@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --azul-principal: linear-gradient(to top, #004AAD 0%, #1e3c72 1%, #2a5298 100%);
    --azul-principal-2: linear-gradient(to left, #004AAD 0%, #1e3c72 1%, #2a5298 100%);
    --blanco-principal: rgb(255, 255, 255);
    --gradiente-fondo: rgb(214, 214, 214);
    --gradiente-fondo-2: linear-gradient(to left, rgba(214, 214, 214, 0.74) 0%, rgba(214, 214, 214, 0.74) 100%);
    --gradiente-icon: linear-gradient(to right, #ff9900 0%, #ffbb00 100%);
    --fuente-principal: "Outfit", sans-serif;
    --azul: #004AAD;
}




.conteinerPadre{
    display: flex;
}
.conteinerHijo{
    display: flex;
    flex-direction: column;
    background-color: transparent;
}
.content{
    height: calc(100vh - 50px);
    width: calc(100vw - 250px);
    background-size: cover; 
    background-image: var(--gradiente-fondo-2), url(logofondo.jpg); 
}
.tituloBox{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.titulo{
    color: var(--azul);
    font-weight: 600;
    font-family: var(--fuente-principal);
    margin-left: 40px;
    font-size: 3rem;
}


.titulo span{
    background: var(--gradiente-icon);
    -webkit-background-clip: text;
    color: transparent; 
}

.contentBusqueda{
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buscador{
    position: relative;
    margin-left: 40px;
    width: 220px;
}

.buscador input{
    position: relative;
    width: 220px;
    height: 40px;
    background-color: transparent;
    border: 3px solid var(--azul);
    border-radius: 10px;
    outline: none;
    color: var(--azul);
    padding: 20px 50px 20px 20px; 
    font-family: var(--fuente-principal);
    font-size: 1.1rem;
    font-weight: 600;
}

.lupa{
    position: absolute;
    background: var(--gradiente-icon);
    -webkit-background-clip: text;
    color: transparent; 
    right: 15px;
    top: 6px;
    font-size: 1.5rem;
}

.botonBox{
    margin-right: 40px;
}
/* -----------------------------ESTILOS CONSULTA----------------------------- */
.containerTabla{
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteinerHijoTabla{
    width: 95%;
    height: 95%;
}
.tabla{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.headTabla{
    width: 100%;
}

.trH{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    color: var(--azul);
    font-family: var(--fuente-principal);
    padding: 0px 10px 0px 15px;
    font-weight: 500;
    text-align: center;
    font-size: .9rem;
    border-bottom: 3px solid var(--azul);
}
.tr{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    color: var(--azul);
    font-family: var(--fuente-principal);
    padding: 0px 10px 0px 10px;
    font-weight: 500;
    font-size: .9rem;
    /* border-bottom: 3px solid var(--blanco-principal); */
    transition: .3s ease;
    
}
.bodyTabla{
    height: calc(100% - 40px);
    width: 100%;
    overflow: auto;
    margin-top: 3px;
}

.bodyTabla::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
}

.bodyTabla::-webkit-scrollbar-thumb{
    background: rgba(55, 0, 255, 0.089);
    -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
        border-radius: 20px;
        border: 1px solid var(--azul);
}

.th{
    width:13%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    white-space: nowrap;
    
}

.td{
    width: 13%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    white-space: nowrap;
    
}

.tr:last-child{
    border-bottom: none;
}

.tr:nth-child(even){
    background: rgba(55, 0, 255, 0.089);
    -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
    color: var(--azul);
}

.tr:nth-child(odd){
    background: rgba(255, 255, 255, 0.089);
    -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
    color: var(--azul);
}

.tr:hover{
    box-shadow: 0px 0px 18px 5px rgba(0, 26, 255, 0.26);
}

.tbBoton{
    width: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonTabla{
    margin: 8px 10px 8px 0px;
    padding: 5px 15px 2px 15px;
    border: 2px solid #d30000;
    background-color: #d30000;
    color: var(--blanco-principal);
    border-radius: 5px;
    display: flex;
    align-items: center;
    outline: none;
    transition: .3s ease;
}

.botonTablaE{
    border: 2px solid #00d300;
    background-color: #00d300;
}

.botonTabla:hover{
    box-shadow: 0px 0px 18px 5px rgba(110, 110, 110, 0.74);
    text-shadow: 0px 0px 13px rgb(110, 110, 110);
}

.bMenu{
    display: none;
}

.botonR{
    display: none;
}



