@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --gris-principal:#131524;
    --blanco-principal: rgb(255, 255, 255);
    --gradiente-fondo: linear-gradient(to right, #243949 0%, #426988 100%);
    --gradiente-icon: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
    --fuente-principal: "Outfit", sans-serif;
}

.conteinerPadre{
    display: flex;
    background: var(--gradiente-fondo);
}
.conteinerHijo{
    display: flex;
    flex-direction: column;
    background-color: transparent;
}
.content{
    background-color: transparent;
    height: calc(100vh - 50px);
    width: calc(100vw - 250px);
}
.tituloBox{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo{
    color: var(--blanco-principal);
    font-weight: 600;
    font-family: var(--fuente-principal);
    margin-left: 40px;
    font-size: 3rem;
}

.titulo span{
    background: var(--gradiente-icon);
    -webkit-background-clip: text;
    color: transparent; 
}

.contentBusqueda{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buscador{
    position: relative;
    margin-left: 40px;
    width: 220px;
 
}

.buscador input{
    position: relative;
    width: 220px;
    height: 40px;
    background-color: transparent;
    border: 3px solid var(--blanco-principal);
    border-radius: 10px;
    outline: none;
    color: var(--blanco-principal);
    padding: 20px 50px 20px 20px; 
    font-family: var(--fuente-principal);
    font-size: 1.1rem;
    font-weight: 600;
}

.lupa{
    position: absolute;
    background: var(--gradiente-icon);
    -webkit-background-clip: text;
    color: transparent; 
    right: 15px;
    top: 6px;
    font-size: 1.5rem;
}

.botonBox{
    margin-right: 40px;
}
/* -----------------------------ESTILOS CONSULTA----------------------------- */
.containerTabla{
    width: 100%;
    height: calc(100vh - 190px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteinerHijoTabla{
    width: 90%;
    height: 95%;
}
.tabla{
    width: 100%;
    height: 100%;
    border: 3px solid var(--blanco-principal);
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.headTabla{
    width: 100%;
}

.trH{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--blanco-principal);
    font-family: var(--fuente-principal);
    padding: 10px 30px 8px 30px;
    font-weight: 500;
    font-size: .9rem;
    border-bottom: 3px solid var(--blanco-principal);
}
.tr{
    width: 100%;
    height: 12.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--blanco-principal);
    font-family: var(--fuente-principal);
    padding: 0px 30px 0px 30px;
    font-weight: 500;
    font-size: .9rem;
    border-bottom: 3px solid var(--blanco-principal);
    
}
.bodyTabla{
    height: calc(100% - 40px);
    width: 100%;
    padding: 8px 0px 10px 0px;
   
}

.th{
    width: 100%;
    text-align: center;
    
}

.td{
    width: 100%;
    text-align: center;
    
}

.tr:last-child{
    border-bottom: none;
}

.tbBoton{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonTabla{
    margin: 8px 10px 8px 10px;
    padding: 1px 15px;
    border: 2px solid #d30000;
    background-color: transparent;
    color: var(--blanco-principal);
    border-radius: 5px;
    display: flex;
    align-items: center;
    outline: none;
    transition: .3s ease;
}

.botonTablaE{
    border: 2px solid #00d300;
    background-color: transparent;
}

.botonTabla:hover{
    box-shadow: 0px 0px 18px 5px rgba(255,255,255,0.65);
    text-shadow: 0px 0px 13px rgb(255, 255, 255);
}