@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* :root{ 
    --gris-principal:#131524;
    --blanco-principal: rgb(255, 255, 255);
    --gradiente-fondo:  linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
    --gradiente-icon: linear-gradient(90deg, hsla(192, 95%, 50%, 1) 0%, hsla(225, 89%, 47%, 1) 100%);
    --fuente-principal: "Outfit", sans-serif;
} */

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.contenedorNav{
    display: flex;
}

.barraLateral{
    background:var(--gris-principal);
    color: var(--blanco-principal);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: star;
    align-items: center;
    flex-direction: column;

}

.barraSuperior{
    width: calc(100vw - 250px);
    background-color: var(--gris-principal);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.barraSuperior a{
    color: var(--blanco-principal);
    font-size: 2rem;
    font-weight: 600;
    padding: 0 30px;
}

.conteiner-logo{
    padding: 20px;
}

.logoNav{
    width: 140px;
    border-radius: 10px;
}

.nav-conteiner{
    width: 100%;
    height: 100%;
}

.nav-padre{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.botonNav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botonNavUsuario{
    width: 100%;
    height: 50px;
}

.botonNav > a{
    color: var(--blanco-principal);
    display: block;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 20px;
    margin-bottom: 4px;
    font-family: var(--fuente-principal);
    font-size: 1.1rem;
    font-weight: 600;
    transition: .3s ease;
}

.nav-hijo{
    position: relative;
    width: 100%;
    height: 0px;
    margin-top: -5px;
    padding-top: 5px;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    border: none;
}

.botonNav:hover .nav-hijo{
    height: 65px;
}

.boton-nav-hijo{
 width: 100%;
 padding: 0px 0px 0px 20px ;
}

.boton-nav-hijo a{
    color: var(--blanco-principal);
    display: block;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0px 5px 0px 5px;
    font-family: var(--fuente-principal);
    font-size: 1rem;
    font-weight: 600;
    transition: .3s ease;
}

.boton-nav-hijo:hover{
    text-shadow: 0px 0px 13px rgb(255, 255, 255);
    background-color: hsla(241, 100%, 68%, 0.10);
    
}

.botonNav a i{
    margin-right: 10px;
    background: var(--gradiente-icon);
    -webkit-background-clip: text;
    color: transparent;  
}

.botonNavUsuario a{
    margin-top: 10px;
    background: var(--gradiente-icon);
    -webkit-background-clip: text;
    color: transparent;  
}

.out{
    background: var(--gradiente-icon);
    -webkit-background-clip: text;
    color: transparent;  
    transition: .3s ease;
}

.botonNav > a:hover , .out:hover, .botonNavUsuario:hover{
    text-shadow: 0px 0px 13px rgb(255, 255, 255);
    background-color: hsla(241, 100%, 68%, 0.10);
}